 body{
  margin: 0;
  text-align: center;
}


h1{
  color: black;
  margin: 0 auto;
  font-family: 'verdana',sans-serif;
  font-size: 1.625rem;
 width: 100%;
}
h2{
  color: black;
  font-family: 'Monteserrat', sans-serif;
  font-size: 0.625rem;
  font-weight: normal;
  padding-bottom: 10px;


}
h3{
  color: black;
}

.containerone{
  background-color: grey;
  margin: 0;
 background-position: center;
  background-size: cover;
  width: 100%;
}
.containertwo{
  background-color: lightpink;
  margin: 0;
 background-position: center;
  background-size: cover;
  width: 100%;



.containerthree{
  background-color: black;
  width:auto;

}
.containerfour{
  background-color: grey;
  margin: 0,0,10px,0;
}
td{
color: black;
font-size: 20px;
}
p{
color: black;
font-family: 'verdana',sans-serif;
font-size: 20px;
display: inline-block;
}
form{
  color: grey;

}
